<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Key Translation Web Service</title>
    <style>
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    align : center
}

input[type=text]:focus {
    width: 100%;
}
</style>
</head>
<body>

<h1 align="center"><b>Lost in Translation</b></h1>

<form id="search-form">
    <p align="center">
    <input type="text" name="search" placeholder="Search for translation... Press enter to search" id="label" align="center"/><br /><br />
        <!-- <button type="submit" style="height:50px;width:200px" id="btn-search"><h4>Search</h4></button>
         <button type="submit" style="height:50px;width:200px" id="btn-reverse-search"><h4>Reverse Look Up</h4></button>-->
    </p>
</form>


<div id="feedback" style="font-size:19px">
</div>


<!-- <title>Label Search</title>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">

            </div>
        </div>
    </nav>

    <div class="ui fluid category search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Enter key to search...">
            <i class="search icon"></i>
        </div>
        <div class="search results"></div>
    </div>

   <div class="container" style="min-height: 500px">

        <div class="starter-template">
            <h1>Enter the search key to find label</h1>

            <form class="form-horizontal" id="search-form">
                <div class="form-group form-group-lg">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="label"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="bth-search"
                                class="btn btn-primary btn-lg">Search
                        </button>
                    </div>
                </div>
            </form>

            <div id="feedback"></div>

        </div>

    </div>-->

        <div id="footer" style="bottom : 100px ; position : fixed; width : 100%; text-align : center">
            <footer>
                <p align="center">
                    © Gaurav Nagarnaik 2017 <br />
                    <a href="http://www.github.com/gauravnagarnaik">Github </a>
                    <b>||</b>
                    <a href="http://www.linkedin.com/in/gauravnagarnaik">LinkedIn</a>
                </p>
            </footer>
        </div>


        <script type="text/javascript"
                src="webjars/jquery/2.2.4/jquery.min.js"></script>

        <script type="text/javascript" src="js/main.js"></script>
</body>
</html>